@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";


body {
  display: flex;
  color: #fff;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  font-family: 'Montserrat',sans-serif;
}

main {
  flex-grow: 1;
}

.black-background {
  background-color: rgba(0, 0, 0, 0.6) !important;
  color: #fff;
}

// .text-shadow {
//   text-shadow: 1px 1px #464646;
// }

.greeting {
  font-size: 5rem;
  font-weight: 500;
}

.quote-content {
  font-size: 1.6rem;
}

.quote-author {
  font-size: 1.2rem;
  text-decoration: underline;
}

.seven {
  font-weight: 700;
}

.main-font {
   font-family: 'Quicksand',sans-serif !important;
}

.secondary-font {
  font-family: 'Montserrat', sans-serif !important;
}

#clock {
  font-family: 'Orbitron', sans-serif;
  color: #ffffff;
  text-align: center;
}

i {
 cursor: pointer; 
 font-size: 1.5rem;
}

.temp:hover {
  cursor: pointer;
}

.quote-content:hover {
  cursor: pointer;
}

.quote-author {
  opacity: 0;
}

.todo-item {
  font-size: 1.3rem;
  text-transform: uppercase;
}

.quote-content:hover + small {
  animation: show 2s ease-in-out forwards;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

